* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 15px;
    width: 720px;
}
.App {
    margin: 50px 0;
}
.headercontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn:focus {
    outline: none;
}
.button {
  background: #713fff;
  border-radius: 14px;
  box-shadow: 0 6px 12px rgba(113,63,255,.25);
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 13px 30px;
  margin-bottom: 10px;
  border: none;
  outline: none;
}
.btn2 {
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(113,63,255,.25);
} 
.card {
    background: #fff;
    border-radius: 24px;
    box-shadow: 0 6px 58px rgba(196,203,214,.104);
    margin-top: 15px;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 255, .2);
}
.task h5 {
    font-weight: 300px;
    font-size: 15px;
}
.card-body {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 9px;
    gap: 10px;
    margin: 0;
}
.card-title p{
    padding-bottom: 1px;
    padding: 0;
}
.card-title.text-secondary.task.pt-2.pb-0 {
    margin: 0px;
}
.card-title.text-secondary {
    margin: 0px;
}
.centered-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    border-radius: 20px;
}
.close-icon {
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.5rem;
}
.modal-content {
    border-radius: 20px;
}

.circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid gray;
  }
  
  
  .incomplete {
    border: 2px solid gray;

  }

  .inprogress {
    border: 40x solid #6495ed;
    background-image: linear-gradient(90deg, #6495ed 50%, transparent 50%);
    background-size: 100% 200%;
  }
  
  .Done {
    background-color: #6495ed;
    border: 2px solid gray;
  }
  
    
@media screen and (max-width: 550px) {
    .card-body {
        display: block;  
        text-align: start; 
        padding-left: 10px;
        gap: 20px;
    }
    .status-button, .icons {
        padding: 10px 0;
    }
}
@media screen and (max-width: 400px) {
    .headercontainer {
        display: block;  
        text-align: start; 
        padding-left: 15px;
    }
}